{# src/CoreBundle/Ressources/views/Core/index.html.twig #}
{% extends 'AltitudeCoreBundle::base.html.twig' %}

  {% block title %}{{ parent() }} - Home{% endblock %}

    {% block content %}
      <div id="content" class="col-md-9">
  		  <p> {{ 'Homepage content'|trans }} </p>
      </div>
  	{% endblock %}
    